h1{
    color: dodgerblue; 
    text-align: center;   
    margin: 5%;
}
.header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: plum;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.description{
    text-align: center;
}
body {
    background-color: #808080;
}
p,h2{
    text-align: center;
    font-style: oblique;
}